@import "../../../shared/styles/mixins.scss";
@import "../../../shared/styles/variables.scss";
@import "../../../shared/styles/lethub-theme.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// .mat-dialog-actions {
//   display: flex;
//   justify-content: space-evenly;
// }

.content {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

