@import 'variables';

$l-blue-pallete: (
  50 : #e2f6fd,
  100 : #b6eafa,
  200 : #86dcf7,
  300 : #56cdf3,
  400 : #31c3f1,
  500 : $blue,
  600 : $blue-hover,
  700 : $blue-active,
  800 : #07a0e7,
  900 : #F8F9FD,
  A100 : $darkgray,
  A200 : $black,
  A400 : $lightgray,
  A700 : $gray,
  contrast: (
    50 : #ffffff,
    100 : #ffffff,
    200 : #ffffff,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);

$l-yellow-pallete: (
  50 : #fff7ee,
  100 : #ffead4,
  200 : #ffdcb7,
  300 : #ffce9a,
  400 : #ffc484,
  500 : $yellow,
  600 : $yellow-hover,
  700 : $yellow-active,
  800 : #ffa251,
  900 : #ff933f,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #fff1e7,
  A700 : $gray,
  contrast: (
    50 : #ffffff,
    100 : #ffffff,
    200 : #ffffff,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #ffffff,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);
